$body-font: 'Barlow', sans-serif;
$secondary-font: 'Barlow Condensed', sans-serif;

$greyish-blue: hsl(231, 7%, 65%);
$very-dark-blue: hsl(230, 29%, 20%);
$dark-greyish-blue: hsl(230, 11%, 40%);
$light-greyish-blue: hsl(207, 33%, 95%);

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $secondary-font;
  font-size: 1.6rem;
  margin: 0;
  position: relative;
}

body::before {
  background-color: $light-greyish-blue;
  content: "";
  width: 300px;
  height: 420px;
  border-radius: 35px;
  position: absolute;
  right: -100px;
  top: -50px;
  z-index: -10;
}

header {
  position: relative;
  width: 100%;
  margin: 20px 0 30px 0;
}

header,
section,
footer {
  padding: 0 30px;
}

ul {
  background-color: hsl(360, 100%, 100%);
  border-radius: 4px;
  box-shadow: 10px 10px 30px rgba(171,171,171,1);
  font-size: 2rem;
  left: 50%;
  list-style: none;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50px;
  transform: translateX(-50%);
  width: 300px;

  li {
    text-transform: uppercase;
    padding: 20px 0;
    font-weight: 700;
    font-family: $secondary-font;
  }

  li:last-child {
    border-top: 1px solid $greyish-blue;
    color: $greyish-blue;
  }

  &.active {
    display: block;
  }

  &.hidden {
    display: none;
  }
}

.hero-image {
  img {
    width: 100%;
    margin-bottom: 60px;
  }
}

button {

  &.hamburger-menu {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 15px;
    top: 0.5px;
  }

}


h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
  line-height: 36px;
}

h2 {
  text-transform: uppercase;
  color: $greyish-blue;
  font-family: $body-font;
  font-size: 1.3rem;
  margin: 0 0 0 10px;
  letter-spacing: 2px;
}

p {
  font-family: $body-font;
  color: $dark-greyish-blue;
  font-size: 2rem;

  &.paragraph--uppercase {
    font-size: 1.2rem;
    text-transform: uppercase;
    display: inline;
    color: $greyish-blue;
    letter-spacing: 0.9px;
  }
}

.callout {
  display: flex;
  align-items: center;

  .callout__button--black {
    background-color: $very-dark-blue;
    border-radius: 50px;
    color: hsl(360, 100%, 100%);
    font-weight: 700;
    height: 25px;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
  }
}

.button {

  &--red {
    background-color: hsl(0, 100%, 68%);
    display: inline-block;
    color: hsl(0,100%,100%);
    border-radius: 7px;
    padding: 10px 10px;
    text-transform: uppercase;
    margin-right: 10px;
    font-weight: 700;
  }
}

footer {

  p {
    font-size: 1rem;
  }

}


@media (min-width: 800px) {

  .grid__wrapper {
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;

    grid-template-areas: 
      "head head"
      "main-left main-right"
      "footer footer";
  }

  header {
    grid-area: head;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .grid--left {
    grid-area: main-left;
    align-self: center;
  }

  .grid--right {
    grid-area: main-right;
    align-self: center;
  }

  footer {
    grid-area: footer;
  }

  ul {
    background: none;
    box-shadow: none;
    position: static;
    font-size: 2rem;
    margin: 0;
    padding: 20px;
    text-align: center;
    transform: none;
    width: 100%;
  
    li {
      display: inline;
      font-weight: 700;
      font-family: $secondary-font;
      margin-left: 40px;
      text-transform: uppercase;
    }
  
    li:last-child {
      border: none;
      color: $greyish-blue;
    }
  
    &.hidden {
      display: block;
    }
  }

  .hamburger-menu {
    display: none;
  }
  
}