* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  position: relative; }

body::before {
  background-color: #eef3f6;
  content: "";
  width: 300px;
  height: 420px;
  border-radius: 35px;
  position: absolute;
  right: -100px;
  top: -50px;
  z-index: -10; }

header {
  position: relative;
  width: 100%;
  margin: 20px 0 30px 0; }

header,
section,
footer {
  padding: 0 30px; }

ul {
  background-color: white;
  border-radius: 4px;
  box-shadow: 10px 10px 30px #ababab;
  font-size: 2rem;
  left: 50%;
  list-style: none;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50px;
  transform: translateX(-50%);
  width: 300px; }
  ul li {
    text-transform: uppercase;
    padding: 20px 0;
    font-weight: 700;
    font-family: "Barlow Condensed", sans-serif; }
  ul li:last-child {
    border-top: 1px solid #a0a1ac;
    color: #a0a1ac; }
  ul.active {
    display: block; }
  ul.hidden {
    display: none; }

.hero-image img {
  width: 100%;
  margin-bottom: 60px; }

button.hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 15px;
  top: 0.5px; }

h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
  line-height: 36px; }

h2 {
  text-transform: uppercase;
  color: #a0a1ac;
  font-family: "Barlow", sans-serif;
  font-size: 1.3rem;
  margin: 0 0 0 10px;
  letter-spacing: 2px; }

p {
  font-family: "Barlow", sans-serif;
  color: #5b5f71;
  font-size: 2rem; }
  p.paragraph--uppercase {
    font-size: 1.2rem;
    text-transform: uppercase;
    display: inline;
    color: #a0a1ac;
    letter-spacing: 0.9px; }

.callout {
  display: flex;
  align-items: center; }
  .callout .callout__button--black {
    background-color: #242942;
    border-radius: 50px;
    color: white;
    font-weight: 700;
    height: 25px;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
    width: 50px; }

.button--red {
  background-color: #ff5c5c;
  display: inline-block;
  color: white;
  border-radius: 7px;
  padding: 10px 10px;
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: 700; }

footer p {
  font-size: 1rem; }

@media (min-width: 800px) {
  .grid__wrapper {
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
    grid-template-areas: "head head" "main-left main-right" "footer footer"; }

  header {
    grid-area: head;
    display: flex;
    justify-content: space-between;
    align-items: center; }

  .grid--left {
    grid-area: main-left;
    align-self: center; }

  .grid--right {
    grid-area: main-right;
    align-self: center; }

  footer {
    grid-area: footer; }

  ul {
    background: none;
    box-shadow: none;
    position: static;
    font-size: 2rem;
    margin: 0;
    padding: 20px;
    text-align: center;
    transform: none;
    width: 100%; }
    ul li {
      display: inline;
      font-weight: 700;
      font-family: "Barlow Condensed", sans-serif;
      margin-left: 40px;
      text-transform: uppercase; }
    ul li:last-child {
      border: none;
      color: #a0a1ac; }
    ul.hidden {
      display: block; }

  .hamburger-menu {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
