$body-font: 'Barlow', sans-serif;
$secondary-font: 'Barlow Condensed', sans-serif;

$greyish-blue: hsl(231, 7%, 65%);
$very-dark-blue: hsl(230, 29%, 20%);
$dark-greyish-blue: hsl(230, 11%, 40%);
$light-greyish-blue: hsl(207, 33%, 95%);

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $secondary-font;
  font-size: 1.8rem;
  margin: 0;
  position: relative;
  
  &::before {
    background-color: $light-greyish-blue;
    border-radius: 35px;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    width: 100%;
    z-index: -10;
  }
}

header {
  margin: 20px 0 30px 0;
  position: relative;
  width: 100%;
}

header,
section,
footer {
  padding: 0 30px;
}

// NAVIGATION STYLES ==============================

ul {
  background-color: hsl(360, 100%, 100%);
  border-radius: 4px;
  box-shadow: 10px 10px 30px rgba(171,171,171,1);
  font-size: 2rem;
  left: 50%;
  list-style: none;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50px;
  transform: translateX(-50%);
  width: 300px;

  li {
    font-family: $secondary-font;
    font-weight: 700;
    padding: 20px 0;
    text-transform: uppercase;
    
    &.navigation--separator {
      display: none;
    }
    
    a {
      color: hsl(360, 0%, 0%);
      position: relative;
      text-decoration: none;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: hsl(360, 0%, 0%);
        bottom: -4px;
        left: 0px;
        transform: scaleX(0);
        transition: transform 0.3s ease 0s;
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }

    &:last-child {
      border-top: 1px solid $greyish-blue;
      
      a {
        color: $greyish-blue;

        &::before {
          background-color: $greyish-blue;
        }
      }

    }

  }

  &.active {
    display: block;
  }

  &.hidden {
    display: none;
  }
}

button {

  &.hamburger-menu {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 15px;
    top: 0.5px;
  }

}

// NAVIGATION STYLES END ==========================

.hero-image {
  img {
    margin-bottom: 60px;
    width: 100%;
  }
}

h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  text-transform: uppercase;
}

h2 {
  color: $greyish-blue;
  font-family: $body-font;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin: 0 0 0 10px;
  text-transform: uppercase;
}

p,
h3 {
  color: $dark-greyish-blue;
  font-family: $body-font;
  font-size: 2rem;

  &.paragraph--uppercase {
    color: $greyish-blue;
    font-size: 1.2rem;
    letter-spacing: 0.9px;
    text-transform: uppercase;
  }
}

.callout {
  align-items: center;
  display: flex;

  .callout__button--black {
    background-color: $very-dark-blue;
    border-radius: 50px;
    color: hsl(360, 100%, 100%);
    font-weight: 700;
    height: 30px;
    padding: 4px;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
  }
}

.button {

  &__submit--wrapper {
    display: flex;
    margin-top: 30px;
  }

  &--red {
    background-color: hsl(0, 100%, 68%);
    border-radius: 7px;
    color: hsl(0,100%,100%);
    cursor: pointer;
    font-weight: 700;
    margin-right: 10px;
    padding: 10px 10px;
    text-transform: uppercase;
    transition: all≥ 0.2s ease-in-out;

    &:hover {
      background-color: hsl(0, 100%, 78%);
      transform: scale(1.01);
      box-shadow: 0px 10px 10px -10px rgba(97,94,94,0.75);
    }
  }
}

footer {

  margin-top: 30px;

  p {
    font-size: 1.3rem;
  }

}

/*
******************************
*        MEDIA QUERIES       *
******************************

*/
@media (min-width: 800px) {

  // GRID ================================

  .grid__wrapper {
    align-content: stretch;
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    max-width: 1440px;

    grid-template-areas: 
      "head head"
      "main-left main-right"
      "footer footer";
  }

  header {
    align-items: center;
    display: flex;
    grid-area: head;
    justify-content: space-between;
  }

  .grid--left {
    align-self: center;
    grid-area: main-left;
  }

  .grid--right {
    align-self: center;
    grid-area: main-right;
  }

  footer {
    grid-area: footer;
  }

  // GRID END ============================

  h1 {
    margin: 20px 0;
  }

  ul {
    background: none;
    box-shadow: none;
    font-size: 2rem;
    margin: 0;
    padding: 20px;
    position: static;
    text-align: center;
    transform: none;
    width: 100%;
  
    li {
      display: inline;
      font-weight: 700;
      font-family: $secondary-font;
      margin-left: 70px;
      text-transform: uppercase;

      &.navigation--separator {
        color: $greyish-blue;
        display: block;
        font-size: 1rem;
      }
    }
  
    li:last-child {
      border: none;
      color: $greyish-blue;
    }
  
    &.hidden {
      align-items: center;
      display: flex;
    }
  }

  .hamburger-menu {
    display: none;
  }

  h1 {
    font-size: 8rem;
    line-height: 8rem;
  }

  h3 {
    font-size: 2.5rem;
    padding-right: 100px;
  }

  .hero-image {
    img {
      margin: 0;
    }
  }

  .button {

    &--red {
      font-size: 1.8rem;
      font-weight: 700;
      margin-right: 10px;
      padding: 20px 20px;
      text-transform: uppercase;
    }
  }
  
  p {
  
    &.paragraph--uppercase {
      font-size: 1.8rem;
      letter-spacing: 0.4rem;
    }
  }
  
}

@media (min-width: 1200px) {

  h3 {
    font-size: 2.5rem;
    padding-right: 200px;
  }

}
